<div *ngFor="let item of items" class="form-check">

    <label *ngIf="!readonly" class="form-check-label">
        <input class="form-check-input" type="checkbox" 
        [value]="item.value" 
        [attr.disabled]="isDisabled ? true : null" 
        [checked]="isChecked(item.value)"
        (change)="onChanged(item.value, $event)">
        {{item.label}}
        <span class="form-check-sign">
            <span class="check"></span>
        </span>
    </label>    

    <label *ngIf="readonly" class="form-check-label">
        <input class="form-check-input" type="checkbox" 
        [value]="item.value" 
        [attr.disabled]="isDisabled ? true : null" 
        onclick="return false;"
        [checked]="isChecked(item.value)">
        {{item.label}}
        <span class="form-check-sign">
            <span class="check"></span>
        </span>
    </label>    

</div>