<form class="main-content" [formGroup]="detailsForm" (ngSubmit)="onSubmit()">

    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                    <li class="breadcrumb-item"><a routerLink="/roles">Roles</a></li>
                    <li class="breadcrumb-item active" aria-current="page">New Role</li>
                    <li class="ml-auto">
                        <button *ngIf="!loadingPermissions && !loadingPermissionsError && !isCreating" type="submit" class="btn btn-primary btn-sm">
                            <span class="material-icons">save</span>
                            Save Role
                        </button>

                        <button *ngIf="isCreating" type="button" class="btn btn-primary btn-sm">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <span class="sr-only">Creating...</span>
                        </button>
                    </li>
                </ol>
            </nav>            
        </div>
    </div>

    <div *ngIf="loadingPermissions" class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Loading</h4>
                    </div>
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12 form">
                                    <div class="form-group my-2">
                                        <shimmer [width]="'100%'" [height]="'48px'" [type]="'line'">
                                        </shimmer>
                                    </div>

                                    <div class="form-group my-2">
                                        <shimmer [width]="'100%'" [height]="'48px'" [type]="'line'">
                                        </shimmer>
                                    </div>
 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h4>Loading...</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4" *ngFor="let index of [1,2,3]">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Loading...</h4>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tr *ngFor="let index2 of [1,2,3,4]">
                                <td>
                                    <shimmer [width]="'100%'" [type]="'line'">
                                    </shimmer>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
        </div>
        
    </div>


    <div *ngIf="loadingPermissionsError" class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 d-xs-flex d-sm-flex d-md-flex align-items-center justify-content-center" style="min-height: 400px;">
                <div class="d-block">
                    <div class="d-flex justify-content-center ">
                        <img src="../../../../assets/img/error.png" width="144px" height="144px" class="rounded mx-auto d-block" alt="...">
                    </div>
                    <div class="col-text-center">
                        <h4 class="text-center">
                            An error occurred, please try again
                        </h4>
                    </div>
                    <div class="col text-center">
                        <button type="button" class="btn btn-primary"
                            (click)="retry()">Retry</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <div *ngIf="!loadingPermissions && !loadingPermissionsError" class="container-fluid" >
        <!-- Role Details -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Role Details</h4>
                    </div>
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12 form">
                                    <mat-form-field appearance="fill" class="my-2">
                                        <mat-label>Name</mat-label>
                                        <input matInput formControlName="name" placeholder="Name" [attr.disabled]="isCreating? true : null">
                                        <mat-error *ngIf="name.hasError('required')">
                                            Name is <strong>Required</strong>
                                        </mat-error>
                                        <mat-error *ngIf="name.hasError('minlength')">
                                            The length of the Name is too short. The minimum length must be <strong>5 characters</strong>
                                        </mat-error>
                                        <mat-error *ngIf="name.hasError('maxlength')">
                                            The length of the Name is too long. The maximum length must be <strong>50</strong> characters
                                        </mat-error>
                                    </mat-form-field>
                                    <mat-form-field appearance="fill" class="my-2">
                                        <mat-label>Description</mat-label>
                                        <input matInput formControlName="description" placeholder="Description" [attr.disabled]="isCreating? true : null">
                                        <mat-error *ngIf="description.hasError('required')">
                                            Description is <strong>Required</strong>
                                        </mat-error>
                                        <mat-error *ngIf="description.hasError('minlength')">
                                            The length of the Description is too short. The minimum length must be <strong>5 characters</strong>
                                        </mat-error>
                                        <mat-error *ngIf="description.hasError('maxlength')">
                                            The length of the Description is too long. The maximum length must be <strong>50</strong> characters
                                        </mat-error>
                                    </mat-form-field>      
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <app-permissions
        [permissions]="permissions"
        [parent]="detailsForm">    
        </app-permissions>
    </div>
</form>
