<h2 *ngIf="dialogStatus.status !== 'loading'" mat-dialog-title>{{title}}</h2>
<h2 *ngIf="dialogStatus.status === 'loading'" mat-dialog-title>{{loadingTitle}}</h2>

<mat-dialog-content *ngIf="dialogStatus.status !== 'loading'">
    <p>Are you sure that you want to {{action}} this user?</p>
  </mat-dialog-content>
  
  <mat-dialog-content *ngIf="dialogStatus.status === 'loading'">
    <div class="row">
      <div class="col-md-12 d-md-flex justify-content-center align-items-center">
        <div class="spinner-border text-primary m-3" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
  </div>
  </mat-dialog-content>
  
  <mat-dialog-actions *ngIf="dialogStatus.status === 'loading'" align="end">
    <button type="button" class="btn btn-primary btn-block mx-auto" (click)="onCancelClick()">Cancel</button>
  </mat-dialog-actions>
  
  <mat-dialog-actions *ngIf="dialogStatus.status !== 'loading'" align="end">
    <button mat-button (click)="onCloseClick()">Cancel</button>
    <button mat-raised-button color="warn" (click)="onConfirmClick()">{{action}}</button>
  </mat-dialog-actions>