@import '../../../../../../assets/scss/core/variables/colors';
.drop-zone {
    
    height: 192px;
    width: 50%;
    background-color: $white;
    border: 2px dashed $purple-500;
    margin-bottom: 16px;
    position: relative;

    input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        z-index: 2;
    }

    &__hovered {
        border: 2px solid $purple-700;
        h4, strong {
            opacity: 0.5
        }
    }
}
