<form [formGroup]="parent" (ngSubmit)="onSubmit()" style="min-width: 512px;">
    <h2 mat-dialog-title>Create Category</h2>
    <mat-dialog-content>
        <mat-form-field appearance="fill" class="my-2">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" placeholder="Name">
            <mat-error *ngIf="name.hasError('required')">
                Name is <strong>Required</strong>
            </mat-error>
            <mat-error *ngIf="name.hasError('maxlength')">
                The length of the Name is too long. The maximum length must be <strong>50 characters</strong>
            </mat-error>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions  align="end">
        <button mat-button (click)="onCancelClick()">Cancel</button>
        <button *ngIf="!loading" mat-raised-button color="primary" type="submit">Save</button>
        <button *ngIf="loading" mat-raised-button color="primary">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span class="sr-only">Deleting...</span>
        </button>
      </mat-dialog-actions>
</form>
